* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* --- Navbar --- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #503325; /* dark coffee brown */
  padding: 0.3rem 5%; /* decreased height */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.logo-link {
  display: inline-block;
}


.logo {
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
}


.logo:hover {
  transform: scale(1.05);
}


/* --- Navigation Links --- */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}


.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  padding: 6px 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  transition: all 0.3s ease;
}
.nav-links a {
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.nav-links a:hover {
  transform: scale(2.05);
}
.nav-links a:hover,
.nav-links .active {
  background-color: rgba(255, 255, 255, 0.15);
}
.nav-links a:active {
  height: 60px;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.nav-links a:active {
  transform: scale(0.95);
}


/* --- Location Button --- */
.location-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.location-btn i {
  font-size: 1.2rem;
}


.location-btn:hover {
  transform: scale(1.05);
}

.findLocation {
    color: white;
}

body {
  margin-top: 60px;
  background-color: #fff;
  color: #503325;
  line-height: 1.6;
}


html {
  scroll-behavior: smooth;
}
/*/////////////////////////*/
.loyaltyCardBOX {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    display:block
}


.loyaltyBelowBox {
    position: relative;
    height: 70px;
    width: 100%;
    background: linear-gradient(to top, rgb(238, 130, 15), #503325);
}


.loyaltyBelowBox2 {
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}


.loyaltyText {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 6px;
}

/* --- Footer --- */
.footer {
    text-align: center;
    padding: 2rem 0;
    background-color: #f5f5f5;
    color: #5d4037;
    max-width: 100%;
    font-size: 0.9rem;
}

