* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Navbar styles moved to CSS/common.css */

html {
  scroll-behavior: smooth;
}

body {
  margin-top: calc(var(--nav-height) - 12px);
  color: #503325;
  line-height: 1.6;
  background-color: black;
}

/* ...contact specific styles remain below... */

/* body spacing moved to CSS/common.css; removed duplicate definition */

/*/////////////////////////*/
.bgBox {
  position: relative;
  width: 100%;
  height: 800px;
  object-fit: cover;
  display: block;
  opacity: 0.7;
}

.contactUsBOX {
  position: absolute;
  width: 600px;
  height: 160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0);
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1Contact {
  position: absolute;
  top: 82px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

/*/////////////////////////*/
.nullBOX {
  position: relative;
  width: 100%;
  height: 510px;
  background: linear-gradient(to top, rgb(238, 130, 15), #503325);
  overflow: visible;
}

.nullBOXChild {
  position: absolute;
  width: 100%;
  height: 510px;
  background-color: black;
  opacity: 0.6;
}

.visitPageBox {
  position: absolute;
  width: 300px;
  height: 80px;
  background-color: rgb(250, 235, 215);
  top: 50px;
  left: -2px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: block;
}

.visitPage {
  position: absolute;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 40px;
  letter-spacing: 1.5px;
  top: 9px;
  left: 33px;
}

.visitLocation {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: larger;
  top: 145px;
  left: 80px;
  letter-spacing: 1.5px;
  line-height: 1.5;
}

.StoreHours {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.5px;
  font-size: larger;
  color: white;
  top: 270px;
  left: 80px;
}

.bigStoreHours {
  font-size: x-large;
}

.smallStoreHours {
  color: rgba(255, 255, 255, 0.645);
}

.gmailOVAL {
  position: absolute;
  height: 45px;
  width: 320px;
  border-radius: 40px;
  left: 60px;
  bottom: 82px;
  background-color: white;
  border: 3px solid black;
}

.gmailText {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  left: 80px;
  bottom: 6px;
  font-size: large;
}

.GMAILLOGO {
  position: absolute;
  height: 50px;
  width: auto;
  border-radius: 50%;
  left: 60px;
  bottom: 80px;
  border: 3px solid black;
}

.callOVAL {
  position: absolute;
  height: 45px;
  width: 320px;
  border-radius: 40px;
  left: 460px;
  bottom: 82px;
  background-color: white;
  border: 3px solid black;
}

.callText {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  left: 100px;
  bottom: 6px;
  font-size: large;
}

.CALLLOGO {
  position: absolute;
  height: 50px;
  width: auto;
  border-radius: 50%;
  left: 460px;
  bottom: 80px;
  border: 3px solid black;
}

.hearFromYou {
  position: relative;
  padding: 20px;
  font-size: 32px;
  font-family: "Courier New", Courier, monospace;
  color: black;
  text-align: center;
  top: 430px;
}

.inNullBOX {
  position: absolute;
  width: 560px;
  height: 480px;
  top: -45px;
  left: 60%;
  background: rgb(255, 255, 255);
  border-radius: 40px;
  box-shadow: 0 0 12px 12px rgba(183, 132, 96, 0.158);
  display: block;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.inNullBOX:hover {
  filter: brightness(60%);
  transform: scale(1.02);
}

.extraBOX {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(250, 235, 215);
  display: block;
}

.extraBOX2 {
  position: relative;
  bottom: -310px;
  width: 100%;
  height: 70px;
  background-color: rgb(250, 235, 215);
  display: block;
}

.FB_QR {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 60px;
  left: 242px;
  display: block;
  box-shadow: 0 0 12px 12px rgb(255, 255, 255);
}

.FB_PIC {
  position: absolute;
  height: 410px;
  width: auto;
}

.FBLOGO {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 740px;
  height: 68px;
  width: auto;
  padding: 3px;
  margin: 4px;
  background-color: white;
}
/*/////////////////////////*/
.nullBOX2 {
  position: relative;
  width: 100%;
  height: 410px;
  background-color: rgb(139, 91, 43, 0.807);
}

.mapLocation {
  position: absolute;
  width: 90%;
  height: 340px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --- Footer --- */
.footer {
  text-align: center;
  padding: 2rem 0;
  background-color: #f5f5f5;
  color: #5d4037;
  max-width: 100%;
  font-size: 0.9rem;
}

/*/////////////////////////*/
