* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Navbar styles moved to CSS/common.css */

body {
  margin-top: calc(var(--nav-height));
  background-color: #fff;
  color: #503325;
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}
/*/////////////////////////*/
.loyaltyCardBOX {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    display:block
}


.loyaltyBelowBox {
    position: relative;
    height: 70px;
    width: 100%;
    background: linear-gradient(to top, rgb(238, 130, 15), #503325);
}


.loyaltyBelowBox2 {
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}


.loyaltyText {
    position: absolute;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 6px;
}

/* --- Footer --- */
.footer {
  text-align: center;
  padding: 2rem 0;
  background-color: #f5f5f5;
  color: #5d4037;
  max-width: 100%;
  font-size: 0.9rem;
}
